* {
	box-sizing: border-box;
	/*margin: 0;*/
	margin: auto;
	padding: 0;
	vertical-align: baseline;
}
body {
	/*font: 100%/1.5em Arial, Helvetica, sans-serif;*/
}
ul {
	list-style: none;
}

@media screen and (min-width: 900px) {
	.container {
		width: 90%;
		max-width: 1200px;	
	}
}

@media screen and (max-width: 900px) {
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 450px) {
	.container {
		width: 95%;
	}

}