
@media screen and (min-width: 950px) {
	.subscribe {
		height: 200px;
	}
	.right-side__form {
		/*width: 70%;*/
	}
	.form__input {
		width: 60%;
	}
	.form__send {
		width: 10%;
	}
	.subscribe__right-side {
		background-image: url(../img/subscribe/right-side.png);
	}
}

@media screen and (max-width: 950px) {
	.subscribe {
		height: 400px;
	}
	.right-side__form {
		position: absolute;
		left: -60%;
		width: 120%;
	}
	.form__input {
		width: 60%;
	}
	.form__send {
		width: 10%;
	}
	.subscribe__right-side {
		background: #bef372;
	}
	.left-side__text {
		position: relative;
		top: 150px;
		left: 50%;
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 550px) {
	.right-side__form {
		position: absolute;
		left: -75%;
		width: 120%;
		display: flex;
	}
	.form__input {
		width: 80%;
	}
	.form__send {
		width: 20%;
	}
	.subscribe {
		height: 420px;
	}
}

@media screen and (max-width: 450px) {
	.subscribe {
		height: 480px;
	}
	.left-side__text {
		top: 120px;
	}
	.right-side__form {
		position: absolute;
		left: -80%;
		width: 130%;
		text-align: center;
	}
	.form__input {
		width: 80%;
	}
	.form__send {
		width: 20%;
	}
}

.subscribe {
	width: 100%;
	background-color: #bef372;
	position: relative;
	z-index: 0;
}

.subscribe__left-side {
	width: 45%;
	float: left;
	margin-top: 40px;
	margin-bottom: 30px;
}
.left-side__text {
	display: block;
	font-weight: 400;
	/*line-height: 35px;*/
	color: #ffffff;
	margin-left: 15%;
}
.left-side__text_size_s {
	font-family: Lato;
	font-size: 1em;
}
.left-side__text_size_m {
	font-family: "Chunk Five";
	font-size: 3.8em;
}

.subscribe__right-side {
	float: left;
	width: 55%;
	position: relative;
	z-index: -1;
	top: -20px;
	height: 220px;	
}
.right-side__form {
	/*margin-top: 12%;*/
	margin-top: 90px;
	margin-left: 30%;
}
.form__input {
	
	height: 50px;
	float: left;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid grey;
	border-right: 0;
}
.form__send {
	
	height: 50px;
	background-color: #01a2a6;
	float: left;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;

	transition: background 0.5s;
}
.form__send:hover {
	background-color: #01cfa1;
	cursor: pointer;
}
.send__arrow {
	display: flex;
	margin-top: 10px;
}