body {
	text-align: center;
	height: 5073px;
}

* {
	padding: 0px;
	margin: 0px;
}


/* --------------------------- header --------------------------------------- */

header {
	background-color: #9cded9;
	height: 737px;
	width: 100%;
	position: relative;
}


/*  nav  */
header nav {
	position: relative;
	/*left: 137px;*/
	left: 9.51388889%;
	top: 39px;

	/*width: 1166px;*/
	width: 80.9722222%;
	height: 48px;
}

header nav ul {
	/*position: absolute;*/
	/*left: 46.5%;*/
	/*left: 37.638888%;*/
	float: right;
	padding: 1.2% 0 0 0;
	width: 43.9108062%;

	text-align: left;
}

header nav li {
	display: inline-block;
	list-style: none;
	/*padding: 0 30px 0 30px;*/
	padding: 0 10.71875% 0 0;

	height: 14px;
	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	/* Text style for "Home" */
	font-weight: 800;
	/* Text style for "Destinatio" */
	font-weight: 500;
}

header nav li:last-of-type {
	padding: 0;
}

/*
header nav li:hover {
	background: url(img/header/oval.png);
}
*/


header nav p {
	float: left;

	padding: 0.5% 0 0 0;
	/* Style for "YokNgalam" */
	width: 10.6944444%;
	height: 25px;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 25px;
	/* Text style for "Yok" */
	font-weight: 400;
	
}

header nav p span {
	/* Text style for "Ngalam" */
	font-weight: 700;
}

header nav img {
	float: right;
}
	
/*
header nav #circle-header {
	position: absolute;
	left: 86.5277778%;
}

header nav #triangle-header {
	position: absolute;
	left: 90%;
	padding: 1.5% 0 0 0;
}*/

header nav #circle-header {
	padding: 0 0 0 4.7169%;
}

header nav #triangle-header {
	padding: 19px 0 0 0.6%;
}


header #oval  {
	position: absolute;
	/*left: 679px;*/
	left: 43.8%;
}



/* group1 */

#group1 {
	position: absolute;
	left: 27.777778%;
	top: 230px;
	width: 44.72%;
	height: 260px;

}

#group1 p {
	margin: 0 0 26px 0;
}

#group1 #big-line {
	/* Style for "LETS GET L" */
	width: 642px;
	height: 60px;
	font-family: "Chunk Five";

	font-size: 80px;
	font-weight: 400;
	text-transform: uppercase;
	/* Text style for "LETS GET" */
	color: #ffffff;
	/* Text style for "LOST" */
	color: #01a2a6;
}

#group1 #big-line span {
	color: white;
}

#group1 #little-line {
	/* Style for "Malang wil" */
	width: 644px;
	height: 53px;
	color: #fafafa;
	font-family: Lato;
	font-size: 18px;
	font-weight: 400;
	line-height: 35px;
}

#group1 button {
	border-radius: 50px;
	margin: 21px;

	/* Style for "Shape 5" */
	width: 222px;
	height: 74px;
	background-color: #ffffa6;

	/* Style for "SET ITTINE" */
	
	color: #10273d;
	font-family: Lato;
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
}

/* ------------------------------------ about ---------------------------------- */


#about {
	width: 85.41666%;
	height: 492px;
	background: white;
	position: relative;
	right: -11.111%;
	top: -50px;
	opacity: 0.9;
}


#about img {
	position: absolute;
	top: 120px;
	left: 52px;
}

#about #big-line {
	/* Style for "City of Lo" */
	width: 344px;
	height: 60px;
	font-family: "Chunk Five";
	font-size: 60px;
	font-weight: 400;
	line-height: 35px;
	
	/* Text style for "Love" */
	color: #01a2a6;

	position: absolute;
	top: 151px;
	left: 601px;
}

#about #big-line span{
	color: #29d9c2;
}


#about #little-line {
	/* Style for "Malang is" */
	width: 562px;
	height: 85px;
	color: #777777;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 35px;

	position: absolute;
	left: 599px;
	top: 275px;
}

#about p {
	text-align: left;
}



/*-------------------------------------- destination ------------------------------------*/

#destination {
	height: 1455px;
	position: relative;
	background-color: #f3fefe;
	width: 100%;
}

#destination #big-line {
	/* Style for "Destinatio" */
	position: absolute;
	top: 68px;
	left: 236px;
	width: 375px;
	height: 52px;
	font-family: "Chunk Five";
	font-size: 67px;
	font-weight: 400;
	line-height: 35px;
	
	/* Text style for "tination" */
	color: #01a2a6;

	text-align: left;
}

#destination #big-line span {
	/* Text style for "Des" */
	color: #29d9c2;
}

#destination #little-line {
	/* Style for "Being arou" */
	position: absolute;
	top: 192px;
	left: 238px;
	width: 664px;
	height: 50px;
	color: #777777;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 35px;

	text-align: left;
}

#destination #search {
	position: absolute;
	top: 308px;
	left: 234px;
	width: 236px;
	height: 37px;
	border: 1px solid #e8e8e8;
	border-radius: 20px;
	background-color: #ffffff;
}

#destination #search img {
	float: left;
	padding: 10px;
}

#destination #search input {
	float: left;
	border: 0;
	padding: 13px;
	height: 10px;
}


/* batu */

#destination #batu {
	/* Style for "Batu" */
	width: 81.25%;
	height: 517px;

	position: relative;
	top: 364px;
	left: 9.375%;

	background-color: #0a0c11;
}


#destination #batu #right-side {

	width: 482px;
	height: 517px;
	opacity: 0.93;

	position: relative;
	float: right;
}

#destination #batu #right-side img {
	position: absolute;
	top: 50px;
	left: 43px;
}

#destination #batu #right-side #big-line {
	/* Style for "Batu" */
	width: 55px;
	height: 23px;
	color: #01a2a6;
	font-family: Lato;
	font-size: 30px;
	font-weight: 300;
	line-height: 35px;

	position: absolute;
	left: 50px;
	top: 171px;
}

#destination #batu #right-side #little-line {
	/* Style for "is a city" */
	width: 374px;
	height: 225px;
	color: #777777;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 35px;

	position: absolute;
	left: 47px;
	top: 217px;

	text-align: left;
}
