* {
	box-sizing: border-box;
	/*margin: 0;*/
	margin: auto;
	padding: 0;
	vertical-align: baseline;
}
body {
	height: 5073px;
}
ul {
	list-style: none;
}


@media screen and (min-device-width: 1000px) {
	.container {
		width: 1000px;
	}
}

@media screen and (max-device-width: 1000px) {
	.container {
		width: 80%;
	}
}

/*
.container {
	width: 80%;
}
*/


/*-------------------header-------------------------*/

header {
	/*background-color: #9cded9;*/
	background: url(./img/header/background.jpg);
	height: 737px;
}


/* main-menu */

header #main-menu {
	height: 90px;
}

header #main-menu p {
	float: left;
	margin-top: 43px;

	color: #ffffff;
	font-family: Montserrat;
	font-size: 25px;
	font-weight: 700;
}
header #main-menu p span {
	font-weight: 400;
}

header #main-menu #menu {
	float: right;
	margin-top: 50px;
}
header #main-menu #menu li {
	display: inline-block;
	margin: 0 20px;


	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	font-weight: 500;


}
header #main-menu #menu li:hover {
	cursor: pointer;
}

header #main-menu #user {
	float: right;
	margin-top: 40px;
	margin-left: 30px;
}
header #main-menu #user li {
	display: inline-block;
	vertical-align: middle;
}
header #main-menu #user li:hover {
	cursor: pointer;
}


/* group */

header #group {

}

@media screen and (min-device-width: 1000px) {
	header #group h1 {
		font-size: 80px;
	}
}

@media screen and (max-device-width: 1000px) {
	header #group h1 {
		font-size: 70px;
	}
}

header #group h1 {
	/*display: flex;*/
	/*text-align: center;*/ /*Просто завернул в тег <center>*/
	margin-top: 163px;

	font-family: "Chunk Five";
	
	font-weight: 400;
	color: #01a2a6;
}
header #group h1 span {
	color: #ffffff;
}

header #group p {
	/*display: flex; /* выравнивается четко по центру и нормально работает margin-top при этом, 
						но нужно чтобы было внутри этого элементы еще елементы, желательно строчные, 
						чтобы этот элемент был в центре, а не разбило по блокам */
	/*text-align: center;*/ /*Просто завернул в тег <center>*/

	color: #fafafa;
	font-family: Lato;
	font-size: 18px;
	font-weight: 400;
	line-height: 35px;
}

header #group #button {
	display: flex;
	/*text-align: center;*/
	/*vertical-align: middle;*/
	margin-top: 47px;

	width: 222px;
	height: 74px;

	background-color: #ffffa7;
	border-radius: 40px;

	transition: background-color 0.5s; /* для замедленного изменения цвета при навидении и отвидении */ 
}
header #group #button p {
	color: #10273d;
	font-family: Lato;
	font-size: 16px;
	font-weight: 900;
}
header #group #button:hover {
	background-color: #ffaaa7;
	cursor: pointer;
}

/****************************header*************************************/


/*-------------------------about--------------------------------------*/

@media screen and (min-device-width: 1000px) {
	#about {
		width: 90%; /* от контейнера(80% от ширины экрана) */
		height: 384px;

		display: flex;
	}
	#about #img {
		width: 50%;
		float: left;
	}
	#about #text {
		width: 50%;
		float: right;
	}
}

@media screen and (max-device-width: 1000px) {
	#about {
		width: 85%;
		height: 450px;
	}
	#about #img img {
		width: 80%;
	}
}

#about {
	background-color: white;
	opacity: 0.9;

	margin-top: -30px; /*40px*/
	/*margin-left: 14%; /*200px*/
	float: right;
}

#about #text h1 {
	font-family: "Chunk Five";
	font-size: 50px;
	font-weight: 400;
	line-height: 35px;
	color: #01a2a6;

	margin-top: 30px;
	margin-bottom: 30px;
}
#about #text h1 span {
	color: #29d9c2;
}

#about #text p {
	color: #777777;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 35px;
}


/****************************about***********************************/


/*-----------------------------------detination-------------------------------------*/

#destination {
	height: 1355px;
	margin-top: 450px;
	background-color: #f3fefe;
}


#destination #title h1 {
	margin-top: 80px;
	float: left;

	font-family: "Chunk Five";
	font-size: 67px;
	font-weight: 400;
	line-height: 35px;
	color: #01a2a6;
}
#destination #title h1 span {
	color: #29d9c2;
}
#destination #title p {
	margin-top: 92px;
	float: right;

	color: #aeaeae;
	font-family: Lato;
	font-size: 16px;
	font-weight: 500;
	line-height: 35px;
}
#destination #title p img {
	vertical-align: middle;
}

#destination #text {
	float: left;
	margin-top: 72px;
	width: 100%; /* чтобы search-bar не облизывал его(не вылетал наверх к нему) */

	color: #777777;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}

#destination #footer #search-bar {
	float: left;
	margin-top: 66px;

	width: 236px;
	height: 37px;
	border: 1px solid #e8e8e8;
	border-radius: 20px;
	background-color: #ffffff;
}
#destination #footer #search-bar input {
	border: 0;
	margin-left: 10px;
	margin-top: 5px;
	height: 25px;
	width: 150px;
}
#destination #footer #search-bar img {
	float: left;
	margin-top: 7px;
	margin-left: 7px;
}

#destination #footer p {
	float: right;
	margin-top: 75px;

	color: #aeaeae;
	font-family: Lato;
	font-size: 16px;
	font-weight: 500;
	line-height: 35px;
}
#destination #footer p span {
	color: #777777;
	font-family: Lato;
	font-size: 16px;
	font-weight: 900;
	line-height: 35px;
}

/* доделать destination и потом переделать его под мобильный девайс */
#destination #see-more {
	opacity: 0.2;
	color: white;
	text-align: center;

	float: right;
	margin-top: 80%;

	transition: opacity 0.5s;
}
#destination #see-more:hover {
	cursor: pointer;
	opacity: 1;
}

#destination #batu {
	height: 500px;
	/*background-color: green;*/
	background: url(./img/destination/background.jpg);
	margin-top: 19px;

	float: left;
	width: 100%;
	border-radius: 5px;
}

#destination #batu #left-side {

	width: 60%;
	float: left;
}

#destination #batu #right-side {
	width: 40%;
	height: 100%;
	float: right;
	background: white;
	opacity: 0.8;
}
#destination #batu #right-side img {
	margin-top: 50px;
	margin-left: 43px;
}
#destination #batu #right-side h1 {
	margin-top: 32px;
	margin-left: 50px;

	color: #01a2a6;
	font-family: Lato;
	font-size: 30px;
	font-weight: 300;
	line-height: 35px;
}
#destination #batu #right-side p {
	margin-top: 23px;
	margin-left: 47px;
	margin-right: 20px;

	color: #777777;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
}


#destination #bromo {
	width: 58%;
	height: 350px;
	float: left;

	margin-top: 33px;
	background: url(./img/destination/background-bromo.jpg);
	border-radius: 5px;
}

#destination #bromo #left-side {
	width: 40%;
	float: left;
	height: 100%;
	background-color: white;
	opacity: 0.9;
}
#destination #bromo #left-side img {
	margin-top: 30px;
	margin-left: 31px;
}
#destination #bromo #left-side h1 {
	margin-top: 20px;
	margin-left: 31px;

	color: #01a2a6;
	font-family: Lato;
	font-size: 30px;
	font-weight: 300;
	line-height: 35px;
}
#destination #bromo #left-side p {
	margin-top: 18px;
	margin-left: 29px;
	margin-right: 10px;

	color: #777777;
	font-family: Lato;
	font-size: 16px;
	line-height: 25px;
	font-weight: 400;
}

#destination #bromo #right-side {
	width: 60%;
	float: right;
	height: 100%;
}

#destination #bromo #see-more {
	margin-top: 95%;
}

#destination #baidarka {
	width: 38%;
	height: 350px;
	float: right;
	margin-top: 33px;
	background: url(./img/destination/background-baidarka.jpg);
	border-radius: 5px;
}
#destination #baidarka #see-more {
	margin-top: 88%;
}


@media screen and (max-device-width: 1000px) {
	#destination .container {
		width: 90%;
	}

	#destination #title p {
		display: none;
	}

	#destination #text {
		text-align: left;
	}

	#destination #footer p {
		display: none;
	}

	#destination #batu {
		height: 90%;
	}

	#destination #batu #left-side {
		width: 100%;
		height: 50%;
	}
	#destination #batu #left-side #see-more {
		display: none;
	}

	#destination #batu #right-side {
		margin-top: 90%;
		width: 100%;
		height: 50%;
	}
	#destination #batu #right-side img {
		margin-top: 10px;
		margin-left: 10px;
		float: left;
	}
	

	#destination #bromo {
		width: 100%;
		height: 60%	;
	}
	#destination #bromo #left-side {
		width: 100%;
		height: 51%;
		margin-top: 80%;
	}
	#destination #bromo #right-side  {
		display: none;
	}

	#destination #baidarka {
		width: 100%;
	}


	header #group h1 {
		font-size: 40px;
	}
	#about #text h1 {
		font-size: 40px;
	}
	#destination #title h1 {
		font-size: 40px;
	}
}